h1 {
  margin-bottom:20px;
}

h2 {
  font-size:20pt;
  margin-top:40px;
  margin-bottom:20px;
}

h3 {
  font-size:17pt;
  margin-top:25px;
  margin-bottom:20px;
}

p {
  /* color:blue; */
  font-family:"Arial","Microsoft YaHei","黑体","宋体","sans-serif";
  font-size:13pt;
	/* text-align:justify; */
	line-height:200%;
}

ul {
	line-height:200%;
}